.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  width: 888px;
  padding: 24px;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.namePriceAndFavourite {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.namePriceAndFavouriteWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameAndPrice {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.priceAndHeart {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heartButton {
  background-color: transparent;
  border: none;
}

.heartIcon {
  cursor: pointer;
  fill: #101828;
  transition: fill 0.4s ease;
}

.heartIconActive {
  cursor: pointer;
  fill: #e44848;
  transition: fill 0.4s ease;
}

.description {
  margin-top: 24px;
  max-width: 525px;
  max-height: 24px;
  color: #475467;
}
