.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  min-width: 888px;
  padding: 24px;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.generalInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.namePriceAndFavourite {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.namePriceAndFavouriteWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameAndPrice {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.priceAndHeart {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heartButton {
  background-color: transparent;
  border: none;
}

.heartIcon {
  cursor: pointer;
  fill: #101828;
}

.heartIconActive {
  cursor: pointer;
  fill: #e44848;
}

.ratingAndLocation {
  display: flex;
  gap: 16px;
}

.ratingAndLocationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mapIcon {
  fill: #101828;
}

.starIconFilled {
  fill: #ffc531;
}

.starIconNotFilled {
  fill: #f2f4f7;
}

.description {
  max-width: 525px;
  max-height: 24px;
  color: #475467;
}

.equipmentList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.equipmentItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  text-transform: capitalize;
  border-radius: 100px;
  background-color: #f2f4f7;
}

.equipmentIcon {
  fill: #101828;
}

.equipmentText {
  font-family: Inter;
  font-weight: 500;
}

.button {
  max-width: 166px;
  padding: 16px 40px;
  border-radius: 200px;
  background-color: #e44848;
  color: #ffffff;
  font-weight: 500;
}

.button:hover {
  background-color: #d84343;
}
