.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  display: flex;
  width: 888px;
  padding: 24px;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.namePriceAndFavourite {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.namePriceAndFavouriteWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameAndPrice {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.priceAndHeart {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heartButton {
  background-color: transparent;
  border: none;
}

.heartIcon {
  cursor: pointer;
  fill: #101828;
  transition: fill 0.4s ease;
}

.heartIconActive {
  cursor: pointer;
  fill: #e44848;
  transition: fill 0.4s ease;
}

.description {
  margin-top: 24px;
  max-width: 525px;
  max-height: 24px;
  color: #475467;
}

.equipmentList {
  margin: 24px 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.equipmentItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  text-transform: capitalize;
  border-radius: 100px;
  background-color: #f2f4f7;
}

.equipmentIcon {
  fill: #101828;
}

.equipmentText {
  font-family: Inter;
  font-weight: 500;
}
