.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 200px;
  color: #fff;
  font-weight: 500;
  background-color: #e44848;
  transition: background-color 0.4s ease;
}

.button:hover {
  background-color: #d84343;
}
