.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  width: 100%;
}

.custom-datepicker {
  border: 1px solid #475467;
  border-radius: 12px;
  padding: 12px;
  width: 276px;
}

.react-datepicker__month-container {
  float: none;
  margin: 0;
  padding: 0;
}

.custom-datepicker .react-datepicker__header {
  background-color: #ffffff;
  border-bottom: none;
  padding: 0;
}

.custom-datepicker .react-datepicker__current-month {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.custom-datepicker .react-datepicker__day-names {
  box-sizing: border-box;
  border-bottom: 1px solid #475467;
  margin-bottom: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 12px;
  padding-right: 12px;
}

.custom-datepicker .react-datepicker__day-name {
  color: #475467;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  width: 100%;
}

.custom-datepicker .react-datepicker__month {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-datepicker .react-datepicker__week {
  display: flex;
}

.custom-datepicker .react-datepicker__day {
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  width: 36px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.custom-datepicker .react-datepicker__day:hover {
  border-radius: 50%;
}

.custom-datepicker .react-datepicker__day--selected,
.custom-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #475467;
  color: #ffffff;
  border-radius: 50%;
}

.custom-datepicker .react-datepicker__day--today {
  color: #ffffff;
  border: none;
}

.custom-datepicker .react-datepicker__day--outside-month {
  color: #475467;
  pointer-events: none;
}

.custom-datepicker .react-datepicker__navigation {
  top: 7px;
}

.custom-datepicker .react-datepicker__navigation-icon::before {
  border-color: #101828;
  border-width: 2px 2px 0 0;
  height: 10px;
  width: 10px;
}

.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle {
  color: #ffffff;
  fill: #ffffff;
  stroke: #475467;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  color: #ffffff;
  fill: #ffffff;
  stroke: #475467;
}
