.formWrapper {
  position: relative;
  max-width: 641px;
  width: 100%;
  min-height: 588px;
  padding: 44px 57px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  overflow: hidden;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
  transition: filter 0.4s ease;
  user-select: none;
}

.title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  margin-bottom: 24px;
  color: #6c717b;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formItem {
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding: 18px;
}

.textarea {
  min-height: 118px;
}

.button {
  align-self: center;
  margin-top: 10px;
}

.successOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
}

.successMessage {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 111;
}

.successTitle {
  margin-bottom: 8px;
}

.successText {
  color: #475467;
}
