*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, --font-inter, sans-serif;
  color: #101828;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}
