.home {
  max-width: 1440px;
  margin: 0 auto;
  padding: 260px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/home.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: #f7f7f7;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 16px;
}

.text {
  color: #f7f7f7;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}
