.equipmentList {
  margin: 24px 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.equipmentItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  text-transform: capitalize;
  border-radius: 100px;
  background-color: #f2f4f7;
}

.equipmentIcon {
  fill: #101828;
}

.equipmentText {
  font-family: Inter;
  font-weight: 500;
}
