.featuresWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 631px;
  min-height: 588px;
  padding: 44px 52px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.featuresTitle {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.featuresTitle::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dadde1;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featuresItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.featureKey {
  text-transform: capitalize;
}
