.catalogWrapper {
  padding-top: 48px;
  display: flex;
  gap: 64px;
}

.filtration {
  max-width: 360px;
}

.campers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 52px;
}

.loadMoreBtn {
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background-color: transparent;
  font-family: Inter;
  font-weight: 500;
  transition: border-color 0.4s ease;
}

.loadMoreBtn:hover {
  border-color: #d84343;
}

.endMessage {
  font-size: 20px;
}

.notFound {
  margin-left: 250px;
  align-self: center;
  text-align: center;
  font-size: 20px;
  border: 1px solid #dadde1;
  border-radius: 100px;
  padding: 18px 36px;
}
