.truckInfo {
  padding-top: 48px;
  padding-bottom: 60px;
}

.truckName {
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.truckPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-top: 16px;
  margin-bottom: 28px;
}

.galleryList {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.featuresReviewsAndForm {
  padding-bottom: 80px;
}

.tabs {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadde1;
}

.tab {
  position: relative;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  border: none;
  background-color: transparent;
}

.active::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
}

.content {
  margin-top: 44px;
  display: flex;
  gap: 40px;
}

.error {
  text-align: center;
  font-size: 20px;
  border: 1px solid #dadde1;
  border-radius: 100px;
  padding: 18px 36px;
}
